# Usado pelo docker-compose.yml na raiz do projeto
DB_NAME=hanami_db
DB_USER=hanami_user
DB_PASSWORD=hanami_pass

CLIENT_URL=http://localhost:8080
PUBLIC_API_URL=http://localhost:3001

JWT_SECRET=troque_por_um_segredo_forte_em_producao
JWT_EXPIRES_IN=1d

PAGBANK_API_URL=https://sandbox.api.pagseguro.com
PAGBANK_TOKEN=coloque_seu_token_pagbank

VITE_API_URL=http://localhost:3001/api
VITE_PAGBANK_PUBLIC_KEY=coloque_sua_chave_publica_pagbank
